{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>
<body>

    <main>
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <label class="password-label">Старый пароль</label>
            {{ form.old_password }}
            <label class="password-label">Новый пароль</label>
            {{ form.new_password1 }}
            <label class="password2-label">Еще раз</label>
            {{ form.new_password2 }}
            <br>
            <button type="submit">Отправить</button>
        </form>
    </main>
    
</body>
</html>