{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аутентификация</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <main>
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <label for="email-id-for-label">Email</label>
            {{ form.username }}
            <label for="password-id-for-label" class="password-label">Пароль</label>
            {{ form.password }}
            <a href="#">Забыли пароль?</a>
            <br>
            <input type="submit" class="submit">
        </form>
    </main>
    
</body>
</html>