.video-container {
    display: inline-block;
    position: relative;
}

.user-video {
    width: 300px;
    height: 178px;
    background-color: gray;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    pointer-events: none;
}

.fix-button-container {
    position: absolute;
    margin-top: 135px;
    margin-left: 250px;
}

.fix-button {
    border: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 10;
}

.fix-button:hover {
    background-color: rgb(209, 208, 208);
}


.fix-button i {
    font-size: 20pt;
}
