{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный звонок</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/private_call_room.css %}">
</head>
<body>
    <main>
        <div class="call-container">
            <div class="abonent-video-container">
                <h1>Личный звонок</h1>
                <h3>Абонент</h3>
                <video src="" class="abonent-video" autoplay="true"></video>
            </div>
            <div class="down-bar-container">
                <div class="my-video-container">
                    <h3>Вы</h3>
                    <video src="" class="my-video" autoplay="true"></video>
                </div>    
                <div class="buttons-container">
                    <a href="#" class="drop-call-button">
                        <i class="ri-close-line"></i>
                    </a>
                    <button class="mute-button">
                        <i class="ri-mic-line"></i>
                        <p>Микрофон выключен</p>
                    </button>
                    <button class="camera-button">
                        <i class="ri-video-on-line"></i>
                        <p>Камера выключена</p>
                    </button>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>