body {
    margin: 0px;
    background-image: url("backgrounds/background_for_crm.png");
    background-size: 92%;
    background-repeat: no-repeat;
    background-position-x: center;
}

main {
    background-color: white;
    width:1300px;
    height: auto;
    margin: auto;
    margin-top: 28vh;
    border: 4px solid rgb(204, 202, 202);
    border-radius: 15px;
    padding-bottom: 30px;
}

h1 {
    margin-left: 50px;
}

.username{
    width: 1100px;
    height : 3vh;
    margin-top: 3vh;
}

.email {
    width: 1100px;
    height : 3vh;
    margin-top: 3vh;
}

.firstname, .lastname {
    width: 482px;
    height : 3vh;
    margin-top: 3vh;
}  


.label-container {
    display: inline-block;
    width: 120px;
    text-align: center;

}

.button-container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.submit {
    width: 150px;
    height: 35px;
    margin-top: 1vh;
    margin-left: 1vw;
    border: 2px solid rgb(204, 202, 202);
    border-radius: 7px;
}

a {
    color: grey;
    margin-top: 1vh;
    margin-left: 1vw;
}

.custom-file-input {
    margin-top: 20px;
}
/*
.custom-file-input {
    color: transparent;
    padding-left: 120px;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Файл не выбран';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

  */
.avatar-field-container {
    text-align: center;
}

.avatar-preview-alt {
    width: 200px;
    height: 200px;
    background-color: rgb(193, 193, 193);
    border: 3px solid rgb(153, 153, 153);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.avatar-preview-alt i {
    color: white;
    font-weight: 400;
    font-size: 50pt;
}

#preview-avatar {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

#preview-avatar[src=""] {
    display: none;
 }