body {
    margin: 0px;
    background-image: url("backgrounds/background_for_crm.png");
    background-size: 92%;
    background-repeat: no-repeat;
    background-position-x: center;
}


main {
    background-color: white;
    display: flex;
    width: 45vw;
    height: 28vh;
    margin: auto;
    margin-top: 30vh;
    border: 4px solid rgb(204, 202, 202);
    border-radius: 15px;
}

.email {
    height : 3vh;
    width: 38vw;
    margin-top: 6vh;
}


.password {
    height : 3vh;
    width: 38vw;
    margin-top: 3vh;
}

label {
    margin-left: 1.5vw;
    margin-right: 1vw;
}

.password-label {
    margin-left: 1.5vw;
    margin-right: 0.4vw;
}


.submit {
    width: 6vw;
    height: 3vh;
    margin-top: 1vh;
    margin-left: 1vw;
    border: 2px solid rgb(204, 202, 202);
     border-radius: 7px;
}

a {
    color: grey;
    margin-left: 4.5vw;
    margin-top: 15px;
}