{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#">
        <img src="{% static 'css/gif/split_18996545.gif' %}" alt="" id="logo"></div>
        </a>
        <nav>
        
            <div class="nav-link"><a href="{% url 'company:create_company' %}">Создать свою организацию</a></div>
            <div class="nav-link"><a href="{% url 'user:logout' %}">Выйти<i class="ri-logout-box-line"></i></a></div>
            <div class="nav-link">
                <a href="{% url 'user:profile' %}">
                    <div class="user-info">
                        <div class="user-name">Илья Праведников</div><img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% endif %}" alt="" id="avatar">
                    </div>
                </a>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    
</body>
</html>